
<!DOCTYPE html>
{% load static %}

{%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
   
  {%endif%}

{% block content %}
    <h1 class="text-center">Delete Appointment</h1>
   <p class="text-center">Are you sure you want to delete this appointment?</p>
  
  <form method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  
  <a href="{% url 'ecom:appointment_list' %}">Cancel</a>
{% endblock %}
